html {
  height: 0;
  width: 0;
}

body {
  font-family: sans-serif;
  width: 100vw;
  height: max-content;
  margin: 0;
  color-scheme: dark only;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  display: flex;
  flex-direction: column;
  place-items: center;

  line-height: 2;
}
body {
  position: relative;
}
a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
div#main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container {
  display: flex;
  width: min(90vw, 500px);
  margin: auto;
  height: 500px;
  place-items: center;
}
#blur {
  position: fixed;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
  z-index: 10;
  background-color: #00000050;
  backdrop-filter: blur(5px);
}
#mouseblur {
  position: fixed;
  left: 0;
  top: 0;
  height: 500px;
  width: 500px;
  overflow: hidden;
  z-index: 11;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.1) 0%,
    rgba(0, 0, 0, 0.05) 30%,
    rgba(0, 0, 0, 0) 50%
  );
  mask: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 35%,
    rgba(0, 0, 0, 0) 50%
  );
  border-radius: 50%;
  backdrop-filter: blur(20px);
}
#box {
  position: static;
  cursor: none;
  height: 100%;
  width: 100%;
  display: flex;
  place-items: center;
}
.above-blur {
  z-index: 50;
  text-shadow: 0px 0px 5px #111;
}
#container::before {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: auto;
  height: inherit;
  aspect-ratio: 1/1;
  border-radius: 10%;
  z-index: 1;
  background: center center/cover no-repeat scroll url(/tinypfp.png);
}
#box > * {
  flex: 2;
  padding: 50px;
  text-align: center;
}
#box > h1 {
  flex: 1;
  padding-right: 25px;
  width: 100%;
  text-align: right;
}
#box > *:last-child {
  padding-left: 50px;
}
#box ul li {
  text-align: left;
  line-height: 2.5;
  list-style: none;
  list-style-type: disc;
}
/* #box ul li::before {
  content: "\ -\ ";
} */
header {
  position: fixed;
  z-index: 1000;
  text-align: center;
  height: 100px;
  width: 30%;
  min-width: 300px;
}
/* URLs */
header > ul li {
  display: inline;
}
/* separate list elements with a slash */
header > ul li:not(:last-child)::after {
  content: "/";
  color: grey;
}

button#scroll-arrow {
  position: absolute;
  bottom: 10%;
  background: rgba(0, 0, 0, 0);
  border: none;
  cursor: pointer;
}
.arrow {
  font-size: 40pt;
}

#mousehelp {
  position: absolute;
  bottom: 20%;
  font-size: larger;
  cursor: default;
  user-select: none;
}
span.selectable {
  cursor: text;
}
@media screen and not ((pointer: fine) or (pointer: coarse)) {
  #mousehelp {
    display: none !important;
  }
}
@media only screen and (max-width: 500px) {
  /*SOON*/
}
